<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Graph By Striver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Lect- 9 Flood Fill Algorithm Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lect-10 Rotten Oranges Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Lect-11 Detect cycle in undirectional BFS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Lect-12 Detect Cycle in Undirectional DFS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Lect-13 Distance of nearest cell having 1  Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Lect-14 Surrounded Region Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Lect-15 Number of Enclaves Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Lect-16 Number of Distinct Islands Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Lect-17 Bipartite Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Lect-18 Bipartite Graph Using DFS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Lect-19 Detect cycle in a directed graph using DFS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lect-20 Find Eventual Safe States DFS Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Lect-21 TopoLogical Sort Algorithm Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Lect-22 Kahns Algorithm Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Lect-23 Detect cycle in directed Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Lect-24 Prerequisite task I &amp; II.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Lect-25 Eventual safe states using Topo sort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Lect-26 Alien Dictionary topoSort Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Lect-27 Shortest path in weighted DAG TopoSort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Lect-28 Shortest path in Undirected Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Lect-29 Word Ladder I Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Lect-30 Word Ladder II Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Lect-32 Dijsktra's Algorithm Shortest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Lect-33 Dijsktra's Algo Using Set.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Lect-35 Print Shortest Path using Dijsktra's Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Lect-36 Shortest Distance in Bianry Maze Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Lect-37 Path with Minimum Effort.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Lect-7 Number of Provinces.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Lect-8 Number of Islands Graph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
	</dict>
</dict>
</plist>
